<?xml version="1.0" ?>
<settings>
    <category label="30100">
        <setting id="userTLD"           type="enum" label="30101" values="DE|FR|UK|IT|ES" default="0"/>
        <setting type="sep"/>
        <setting id="showimages"        type="bool" label="30105" default="true"/>
        <setting id="showUnplayableSongs" type="bool" label="30107" default="false"/>
        <setting id="showcolentr"       type="bool" label="30106" default="true"/>
        <setting type="sep"/>
        <setting id="logging"           type="bool" label="30104" default="false"/>
        <setting type="sep"/>
        <setting label="30103"          type="action" action="RunPlugin(plugin://plugin.audio.amazonmedia/?mode=resetAddon)"/>
        <setting label="30110"          type="action" action="RunPlugin(plugin://plugin.audio.amazonmedia/?mode=resetCredentials)"/>

        <setting id="search1PlayLists"  type="text" visible="false" label="search1PlayLists" default=""/>
        <setting id="search2PlayLists"  type="text" visible="false" label="search2PlayLists" default=""/>
        <setting id="search3PlayLists"  type="text" visible="false" label="search3PlayLists" default=""/>
        <setting id="search1Albums"     type="text" visible="false" label="search1Albums"    default=""/>
        <setting id="search2Albums"     type="text" visible="false" label="search2Albums"    default=""/>
        <setting id="search3Albums"     type="text" visible="false" label="search3Albums"    default=""/>
        <setting id="search1Songs"      type="text" visible="false" label="search1Songs"     default=""/>
        <setting id="search2Songs"      type="text" visible="false" label="search2Songs"     default=""/>
        <setting id="search3Songs"      type="text" visible="false" label="search3Songs"     default=""/>
        <setting id="search1Stations"   type="text" visible="false" label="search1Stations"  default=""/>
        <setting id="search2Stations"   type="text" visible="false" label="search2Stations"  default=""/>
        <setting id="search3Stations"   type="text" visible="false" label="search3Stations"  default=""/>
        <setting id="search1Artists"    type="text" visible="false" label="search1Artists"   default=""/>
        <setting id="search2Artists"    type="text" visible="false" label="search2Artists"   default=""/>
        <setting id="search3Artists"    type="text" visible="false" label="search3Artists"   default=""/>
        <setting id="proxy"             type="text" visible="false" label="proxy"            default=""/>
        <setting id="captcha"           type="text" visible="false" label="captcha"          default=""/>
    </category>
</settings>